.DS_Store
.project
.classpath
.idea
.settings
/bin
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
node_modules
bower_components
compiled_css
resources/public/app/
.tmp
*.swp
ansible/aituhaku_vagrant/salasanat/
*.iml
aituhaku.properties
/frontend/build/config.gypi