{{=[[ ]]=}}
<!DOCTYPE html>
<html ng-app="aituhaku">
<head>
  <title>AITU haku</title>
  <link rel="stylesheet" href="[[base-url]]/compiled_css/main.css">
</head>
<body>
AITU haku

<!-- Bower komponentit -->
<script type="text/javascript" src="[[base-url]]/js/bower_components/angular.js"></script>
<script type="text/javascript" src="[[base-url]]/js/bower_components/lodash.js"></script>
<!-- /Bower komponentit -->

<script type="text/javascript" src="[[base-url]]/js/aituhaku.js"></script>

</body>
</html>