.kielen-vaihto,
.print-link{
  float: right;
  margin-top: 5px;
}

.print-link{
  margin-right: 10px;
}

.palaa-hakuun {
  font-size: 1em;
  padding-left: 35px;
  @include icon-before(-22px, 2px){@include left-arrow;};
}