<palaa-hakuun></palaa-hakuun>
<h2>{{tutkinto.nimi | lokalisoi:tutkinto:'nimi'}}</h2>

<section class="info-section">
  <fieldset>
    <label>{{i18n.tutkinnot.tutkintotunnus}}</label>
    <p>{{tutkinto.tutkintotunnus}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.tutkinnot.koulutusala}}</label>
    <p>{{tutkinto.koulutusala_nimi | lokalisoi:tutkinto:'koulutusala_nimi'}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.tutkinnot.opintoala}}</label>
    <p>{{tutkinto.opintoala_nimi | lokalisoi:tutkinto:'opintoala_nimi'}}</p>
  </fieldset>

  <br>
  <fieldset class="toimikunta-lista">
    <label>{{i18n.tutkinnot.toimikunta}}</label>
    <div ng-repeat="toimikunta in tutkinto.toimikunnat">
      <a ng-href="#/toimikunta/{{toimikunta.tkunta}}?tutkinto={{tutkinto.tutkintotunnus}}">{{toimikunta.nimi | lokalisoi:toimikunta:'nimi'}}</a>
    </div>
  </fieldset>
</section>

<h2>{{i18n.tutkinnot.tutkinnon_jarjestajat}}</h2>
<div class="table">
  <div class="table-header">
    <div class="table-cell">{{i18n.tutkinnot.tutkinnon_jarjestaja}}</div>
  </div>
  <div class="table-row" ng-repeat="jarjestaja in tutkinto.jarjestajat | orderBy:'nimi'">
    <div class="table-cell">{{jarjestaja.nimi}}</div>
  </div>
</div>
