<palaa-hakuun></palaa-hakuun>
<h2>{{tutkinto.nimi | lokalisoi:tutkinto:'nimi'}}</h2>

<div ng-if="tutkinto.voimassaolo == 'ei-voimassa'" class="huom">
  <p>{{i18n.tutkinnot.vanhentunut}}</p>
</div>

<div ng-if="tutkinto.voimassaolo == 'siirtymaajalla'" class="huom">
  <p>{{i18n.tutkinnot.siirtymaajalla}} {{i18n.tutkinnot.siirtymaaika_paattyy | sprintf:siirtymaajan_loppupvm_muotoiltu}}</p>
  <p>{{i18n.tutkinnot.siirtymaaika_selite}}</p>
</div>

<section class="info-section">
  <fieldset>
    <label>{{i18n.tutkinnot.tutkintotunnus}}</label>
    <p>{{tutkinto.tutkintotunnus}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.tutkinnot.koulutusala}}</label>
    <p>{{tutkinto.koulutusala_nimi | lokalisoi:tutkinto:'koulutusala_nimi'}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.tutkinnot.opintoala}}</label>
    <p>{{tutkinto.opintoala_nimi | lokalisoi:tutkinto:'opintoala_nimi'}}</p>
  </fieldset>

  <br>
  <fieldset class="toimikunta-lista">
    <label>{{i18n.tutkinnot.toimikunta}}</label>
    <div ng-repeat="toimikunta in tutkinto.toimikunnat">
      <a ng-href="#/toimikunta/{{toimikunta.tkunta}}?tutkinto={{tutkinto.tutkintotunnus}}">{{toimikunta.nimi | lokalisoi:toimikunta:'nimi'}}</a>
    </div>
  </fieldset>
</section>

<h2>{{i18n.tutkinnot.tutkinnon_jarjestajat}}</h2>
<div ng-if="tutkinto.jarjestajat.length == 0">{{i18n.tutkinnot.ei_jarjestajia}}</div>
<div class="table" ng-if="tutkinto.jarjestajat.length > 0">
  <div class="table-header">
    <div class="table-cell">{{i18n.tutkinnot.tutkinnon_jarjestaja}}</div>
    <div class="table-cell"></div>
    <div class="table-cell"></div>
  </div>
  <div class="table-row" ng-repeat="jarjestaja in tutkinto.jarjestajat | orderBy:'nimi'">
    <div class="table-cell">{{jarjestaja.nimi}}</div>
    <div class="table-cell">{{jarjestaja.www_osoite}}</div>
    <div class="table-cell">{{jarjestaja.ktnimi_fi}}</div>
  </div>
</div>
