<h1>AITU | Näyttötutkintohaku</h1>

<form>
  <fieldset class="search-field">
    <label>Tutkinnon nimi</label>
    <input type="text" ng-model="hakuehto.nimi" ng-change="hae(hakuehto.nimi)" class="search-with-autocomplete">
  </fieldset>
</form>

<div class="search-results">
  <div class="table hakutulokset">
    <div style="display: table-row" class="table-header">
      <div style="display: table-cell" class="table-cell">Nimi</div>
    </div>
    <div style="display: table-row" class="table-row" ng-repeat="tutkinto in tutkinnot">
      <div class="table-cell">{{tutkinto.nimi}}</div>
    </div>
  </div>
</div>
