<palaa-hakuun></palaa-hakuun>

<h2 class="e2e-toimikunta-nimi">{{toimikunta.nimi | lokalisoi:toimikunta:'nimi'}}</h2>

<section class="info-section">
  <fieldset>
    <label>{{i18n.toimikunta.sahkoposti}}</label>
    <p><a href="mailto:{{toimikunta.sahkoposti}}">{{toimikunta.sahkoposti}}</a></p>
    <label>{{i18n.toimikunta.puhelin}}</label>
    <p class="e2e-puhelin">{{toimikunta.puhelin}}</p>
    <label>{{i18n.toimikunta.postiosoite}}</label>
    <p class="e2e-osoite">{{toimikunta.osoite}}<br/>{{toimikunta.postinumero}} {{toimikunta.postitoimipaikka}}</p>
    
    <label>{{i18n.toimikunta.toimiala}}</label>
     <ul>
        <li ng-repeat="tutkinto in toimikunta.tutkinnot">
          <a class="e2e-toimikunta-nimi" ng-href="#/tutkinto/{{tutkinto.tutkintotunnus}}">{{tutkinto.nimi | lokalisoi:tutkinto:'nimi'}}</a>
        </li>
     </ul>
  </fieldset>
  <fieldset>
    <label>{{i18n.toimikunta.kielisyys}}</label>
    <p>{{i18n.kielisyys[toimikunta.kielisyys]}}</p>
    <label>{{i18n.toimikunta.toimikausi}}</label>
    <p class="e2e-toimikausi">{{toimikunta.toimikausi_alku | date:'dd.MM.yyyy'}} &ndash; {{toimikunta.toimikausi_loppu | date:'dd.MM.yyyy'}}</p>

    <label>{{i18n.toimikunta.jasenet}}</label>
      <ul>
        <li ng-repeat="jasen in toimikunta.jasenet">{{jasen.sukunimi}} {{jasen.etunimi}}, {{i18n.toimikunta.jasen[jasen.rooli]}}</li>
      </ul>

  </fieldset>
  </div>
  <div>
  <fieldset>
    <p><span ng-bind="i18n.toimikunta.lisatietolinkki_teksti"></span> <a href="{{i18n.toimikunta.lisatietolinkki}}" ng-bind="i18n.toimikunta.lisatietolinkki_otsikko"></a></p>
  </fieldset>
  
    </div>
</section>
