<h2>
  {{toimikunta.nimi_fi}}
</h2>

<section class="info-section">
  <fieldset>
    <label>{{i18n.toimikunta.sahkoposti}}</label>
    <p><a href="mailto:{{toimikunta.sahkoposti}}">{{toimikunta.sahkoposti}}</a></p>
  </fieldset>
  <fieldset>
    <label>{{i18n.toimikunta.kielisyys}}</label>
    <p>{{i18n.kielisyys[toimikunta.kielisyys]}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.toimikunta.toimikausi}}</label>
    <p>{{toimikunta.toimikausi_alku | date:'dd.MM.yyyy'}} – {{toimikunta.toimikausi_loppu | date:'dd.MM.yyyy'}}</p>
  </fieldset>
</section>
