<button class="palaa-hakuun" ng-click="palaaHakuunTaiTutkintoon()">{{i18n.yleiset.palaa_hakutuloksiin}}</button>

<h2>{{toimikunta.nimi | lokalisoi:toimikunta:'nimi'}}</h2>

<section class="info-section">
  <fieldset>
    <label>{{i18n.toimikunta.sahkoposti}}</label>
    <p><a href="mailto:{{toimikunta.sahkoposti}}">{{toimikunta.sahkoposti}}</a></p>
  </fieldset>
  <fieldset>
    <label>{{i18n.toimikunta.kielisyys}}</label>
    <p>{{i18n.kielisyys[toimikunta.kielisyys]}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.toimikunta.toimikausi}}</label>
    <p>{{toimikunta.toimikausi_alku | date:'dd.MM.yyyy'}} &ndash; {{toimikunta.toimikausi_loppu | date:'dd.MM.yyyy'}}</p>
  </fieldset>
  <fieldset>
    <label>{{i18n.toimikunta.jasenet}}</label>
      <ul>
        <li ng-repeat="jasen in toimikunta.jasenet">{{jasen.sukunimi}} {{jasen.etunimi}}, {{i18n.toimikunta.jasen[jasen.rooli]}}</li>
      </ul>
  </fieldset>
  <fieldset>
    <p><span ng-bind="i18n.toimikunta.lisatietolinkki_teksti"></span> <a href="{{i18n.toimikunta.lisatietolinkki}}" ng-bind="i18n.toimikunta.lisatietolinkki_otsikko"></a></p>
  </fieldset>
</section>
