<div>
  <hakutuloslaskuri></hakutuloslaskuri>

  <sivutusnavigaatio ng-show="hakutulokset"></sivutusnavigaatio>
  <div ng-if="hakutulokset" class="table hakutulokset">
    <div class="table-header">
      <div class="table-cell" ng-repeat="otsikko in otsikot">{{otsikko}}</div>
    </div>
    <div class="table-row" ng-click="go(hakutulos.tutkintotunnus)" ng-repeat="hakutulos in hakutulokset | sivuta:nykyinenSivu:tuloksiaSivulla" transclude-with-surrounding-scope></div>
  </div>

  <sivutusnavigaatio ng-show="hakutulokset"></sivutusnavigaatio>
</div>
